@import "fonts";

:root {
  --ph-white: #fff9ec;
  --ph-white-shadow: #aaaaaa66;
  --ph-black: #231e12;
  --ph-black-shadow: #66666688;
  --ph-key-border: #777;
  --ph-key-disabled: #aaa;

  --ph-active-primary: #ff8c00;
  --ph-active-disabled: #bf7f30;
  --ph-active-secondary: #a95000;

  --ph-active-warning-primary: #ffbe00;
  --ph-active-warning-disabled: #bf9b30;
  --ph-active-warning-secondary: #b58703;

  --ph-error-primary: #ff3500;
  --ph-error-disabled: #bf4e30;
  --ph-error-secondary: #a22100;

  --ph-info-primary: #42aded;
  --ph-info-disabled: #5c92b2;
  --ph-info-secondary: #2f82b4;

  --ph-link: var(--ph-info-primary);
  --ph-text: #666;
  --ph-text-on-color: #eee;

  // TODO: dynamic
  --ph-keyboard-height: 200px;
  --ph-key-width: 46px;
  --ph-black-key-width: 36px;
  --ph-black-key-height: 120px;
  --ph-key-slot-height: 80px;
  --ph-key-mark-size: 18px;

  --ph-padding-xxs: 2px;
  --ph-padding-xs: 4px;
  --ph-padding-s: 8px;
  --ph-padding-m: 16px;
  --ph-padding-l: 32px;

  --ph-font-s: 12px;
  --ph-font-m: 16px;
  --ph-font-l: 24px;
}

#app {
  @include use-rubik-font(400);
  font-size: var(--ph-font-m);
  color: var(--ph-text);
}